@using Blazored.LocalStorage
@using System.Security.Cryptography.X509Certificates
@inject AppJsSerrivce AppJsService
@inject ApiClient ApiClient
@inject ILocalStorageService LocalStorage;

<h3>Push Notifications</h3>

<button class="btn btn-primary" @onclick="Subscribe" disabled="@isSubscribed">
    Subscribe to Notifications
</button>

@if (!string.IsNullOrEmpty(subscriptionJson))
{
    <p>Subscription JSON:</p>
    <pre><code>@subscriptionJson</code></pre>
}

@code {
    private string? subscriptionJson;
    private bool isSubscribed = false;
    private PushSettings? pushSettings;

    protected override async Task OnInitializedAsync()
    {
        pushSettings  = await LocalStorage.GetItemAsync<PushSettings>(nameof(PushSettings));
        isSubscribed = pushSettings?.Enabled ?? false;    
    }

    private async Task Subscribe()
    {
        var module = await AppJsService.GetAppJsModule();
        var vapidPublicKey = await ApiClient.Get<PublicKeyInfo>("Notify/vapid");
        var firebaseConfig = await ApiClient.Get<FireBaseConfig>("Notify/config");


        await module.InvokeVoidAsync("InitializeFirebaseMessaging", firebaseConfig);
        var fcmToken = await module.InvokeAsync<string>("getFcmToken", vapidPublicKey.Vapid);
        subscriptionJson = fcmToken;
        var info = new DeviceTokenInfo(fcmToken, "WebWasm Client", null);

        await ApiClient.Post("DeviceTokens", info);
        isSubscribed = true;
        StateHasChanged();
    }

    public record FireBaseConfig(string ApiKey, string AuthDomain, string ProjectId, string StorageBucket, string MessagingSenderId, string AppId);
    private record DeviceTokenInfo(string DeviceToken, string Name, Dictionary<string, string>? AdditionalData);
    private record PublicKeyInfo(string Vapid);
    private record PushSettings(bool Enabled);
}