@inject ApiClient ApiClient
@inject IJSRuntime JSRuntime

<h3>Push Notifications</h3>

<button class="btn btn-primary" @onclick="Subscribe">
    Subscribe to Notifications
</button>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="text-danger mt-3">@errorMessage</p>
}

@if (!string.IsNullOrEmpty(fcmToken))
{
    <div class="mt-3">
        <p class="text-success">Success! Here is your FCM Token. Send this to your backend.</p>
        <pre style="word-wrap: break-word; white-space: pre-wrap;"><code>@fcmToken</code></pre>
    </div>
}


@code {
    private string? fcmToken;
    private string? errorMessage;

    private async Task Subscribe()
    {

        var permission = await JSRuntime.InvokeAsync<string>("Notification.requestPermission");

        if (permission != "granted")
        {
            errorMessage = "Notification permission was not granted.";
            return;
        }

        var token = await JSRuntime.InvokeAsync<string?>("getFcmToken");
        if (!string.IsNullOrEmpty(token))
        {
            fcmToken = token;
            var info = new DeviceTokenInfo(fcmToken, "WebWasm Client", null);

            await ApiClient.Post("DeviceTokens", info);
            StateHasChanged();
        }
        else
        {
            errorMessage = "Could not retrieve FCM token. Check the browser console for errors.";
        }
    }

    private record DeviceTokenInfo(string DeviceToken, string Name, Dictionary<string, string>? AdditionalData);
}